{{- if .Values.rbac.create -}}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "frappe-operator.fullname" . }}-manager-role
  labels:
    {{- include "frappe-operator.labels" . | nindent 4 }}
rules:
# Frappe CRDs
- apiGroups:
  - vyogo.tech
  resources:
  - frappebenches
  - frappesites
  - frappeworkpaces
  - sitebackups
  - sitedashboards
  - sitedashboardcharts
  - sitejobs
  - siteusers
  - siteworkspaces
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - vyogo.tech
  resources:
  - frappebenches/finalizers
  - frappesites/finalizers
  verbs:
  - update
- apiGroups:
  - vyogo.tech
  resources:
  - frappebenches/status
  - frappesites/status
  verbs:
  - get
  - patch
  - update

# Core Kubernetes resources
- apiGroups:
  - ""
  resources:
  - configmaps
  - events
  - persistentvolumeclaims
  - pods
  - secrets
  - services
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - apps
  resources:
  - deployments
  - statefulsets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - batch
  resources:
  - jobs
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - networking.k8s.io
  resources:
  - ingresses
  - ingressclasses
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - storage.k8s.io
  resources:
  - storageclasses
  verbs:
  - get
  - list
  - watch

# Leader Election (cluster-wide)
- apiGroups:
  - coordination.k8s.io
  resources:
  - leases
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch

# MariaDB Operator CRDs
- apiGroups:
  - k8s.mariadb.com
  resources:
  - mariadbs
  - databases
  - users
  - grants
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - k8s.mariadb.com
  resources:
  - mariadbs/status
  - databases/status
  - users/status
  - grants/status
  verbs:
  - get
{{- end }}

